<div class="container">
    <div class="row row-cols-1 g-3">
        <div class="col">
            <h3 class="mb-3">Account verification</h3>
            <p>Select the challenge you want to proceed with</p>
        </div>

        <div class="col">
            <ngb-accordion #accChallenges [type]="'accent'" [closeOthers]="true">
                <ngb-panel *ngFor="let challenge of availableChallenges" [disabled]="startedChallenge?.challenge?.id == challenge.id" [id]="'acc-panel-' + challenge.id">
                    <ng-template ngbPanelTitle>
                        <span>{{challenge.name}}</span>
                        <span *ngIf="challenge.id == 2" class="badge rounded-pill bg-success ms-2">Recommended</span>
                        <span *ngIf="startedChallenge?.challenge?.id == challenge.id" class="badge rounded-pill bg-danger ms-2">already active</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="container-fluid">
                            <div class="row row-cols-1 g-4">
                                <div class="col">
                                    <h5 class="mb-3">Description</h5>
                                    <div *ngIf="challenge.youtubeEmbedSrcs.length > 0" class="d-flex flex-column flex-lg-row mb-2">
                                        <iframe *ngFor="let youtubeEmbedSrc of challenge.youtubeEmbedSrcs" class="yt-embed" [src]="youtubeEmbedSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div [ngSwitch]="challenge.id" class="ms-0 ms-md-3">
                                        <ng-container *ngSwitchCase="1">
                                            <p>
                                                You will have to login on the official website of Guild Wars2 using the account you wish to verify.<br/>
                                                Once logged in, you will have to create a new API token using a name which will be generated in the next step.
                                            </p>
                                        </ng-container>
                                        <div *ngSwitchCase="2">
                                            <p>
                                                You will have to place a buy-order using the ingame tradingpost.<br/>
                                                The item and exact price you should place a buy-order for will be generated in the next step.<br/>
                                                The buy-order price will be at most 30 gold and always for an item which is never traded for such a low price.
                                            </p>
                                            <p>
                                                You can remove the buy-order and get your placed gold back once the verification succeeded.
                                            </p>
                                        </div>
                                        <div *ngSwitchCase="3">
                                            <p>
                                                You will have to create a new character on the Guild Wars2 account you wish to verify.<br/>
                                                The character must be created with a specific name which will be generated in the next step.
                                            </p>
                                            <p>
                                                You can delete the character once the verification succeeded.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <h5 class="mb-3">Required API permissions</h5>
                                    <div class="container-fluid" [id]="'challengeRequiredGw2ApiPermissions-' + challenge.id">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-2">
                                            <ng-container *ngFor="let gw2ApiPermission of gw2ApiPermissions">
                                                <div class="col">
                                                    <app-gw2-api-permission-badge [gw2ApiPermission]="gw2ApiPermission" [isPresent]="challenge.requiredGw2ApiPermissions.has(gw2ApiPermission)"></app-gw2-api-permission-badge>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="col text-center">
                                    <app-button-loadable [class]="['btn-primary']" [loading]="isLoading" (click)="onProceedClick(challenge)">
                                        Proceed with challenge &quot;{{challenge.name}}&quot;
                                    </app-button-loadable>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>