<div class="container">
    <div class="row row-cols-1 g-3">
        <div class="col">
            <h3 class="mb-3">Account verification</h3>
            <p>
                GW2Auth offers you to verify the ownership of your Guild Wars2 accounts by performing a so called "challenge".<br/>
                Once you successfully verified your account we block other GW2Auth Accounts to add an API- oken belonging to a verified Guild Wars2 account.<br/>
                Applications may ask to read the verification status of your Guild Wars2 accounts. You will always be asked for consent before we share this information with any application.
            </p>

            <button *ngIf="startedChallenge == null" type="button" class="btn btn-primary" [routerLink]="['/', 'account', 'verification', 'setup', 'select']">Start verification</button>
        </div>

        <div *ngIf="startedChallenge != null" class="col">
            <div class="card bg-accent">
                <div class="card-header">
                    <h4>Verification challenge</h4>
                </div>
                <div class="card-body">
                    <p>You previously started a verification challenge.</p>
                    <p class="mb-0">If you want to verify your Guild Wars2 account you may proceed with the started challenge or choose to start a different challenge.</p>
                </div>
                <div class="card-footer">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-md-2 g-2">
                            <div class="col">
                                <button type="button" class="btn btn-primary w-100" [routerLink]="['/', 'account', 'verification', 'setup', 'instructions']">Proceed</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-accent-inner w-100" [routerLink]="['/', 'account', 'verification', 'setup', 'select']" [disabled]="!canStartNewChallenge()">
                                    <ng-container [ngSwitch]="canStartNewChallenge()">
                                        <div *ngSwitchCase="true">Start a different challenge</div>
                                        <div *ngSwitchDefault>Available at {{startedChallenge!.nextAllowedStartTime.toLocaleString()}}</div>
                                    </ng-container>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="pendingChallenges.length > 0" class="col">
            <div class="card bg-accent">
                <div class="card-header">
                    <h4>Pending challenges<span class="badge rounded-pill bg-success ms-2">{{pendingChallenges.length}}</span></h4>
                </div>
                <div class="card-body">
                    <p>
                        The following challenges are in progress. This means you previously submitted a challenge and it could not yet be completed.<br/>
                        Don't panic! The API may take some time to reflect the actions you took to verify your account.
                    </p>
                    <p>For TP buy-order challenges: please do not remove the buy-order until the challenge completed.</p>

                    <div class="list-group">
                        <div *ngFor="let pendingChallenge of pendingChallenges" class="list-group-item">

                            <div class="container-fluid h-100">
                                <div class="row">
                                    <div class="col text-start">
                                        <h5 class="mb-1">{{pendingChallenge.challenge.name}}</h5>
                                        <p class="mb-1">for {{pendingChallenge.name}}</p>
                                        <small class="text-muted">Started at {{pendingChallenge.startedAt.toLocaleString()}}</small>
                                    </div>
                                    <div class="col-auto align-self-center text-end">
                                        <app-button-loadable (click)="openCancelPendingChallengeModal(pendingChallenge)" [loading]="pendingChallenge.cancellationInProgress" [class]="['btn-danger']">
                                            <span><fa-icon [icon]="faBan"></fa-icon> Cancel</span>
                                        </app-button-loadable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>