<div *ngIf="startedChallenge == null">Loading...</div>
<div *ngIf="startedChallenge != null">
    <div class="container">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <h3 class="mb-3">Account verification</h3>
                <p>Perform the steps described below using the Guild Wars2 account you wish to verify</p>
            </div>

            <div class="col">
                <div class="card bg-accent">
                    <div class="card-header">
                        <h4>{{startedChallenge.challenge.name}}</h4>
                    </div>

                    <div class="card-body">
                        <div *ngIf="startedChallenge.challenge.youtubeEmbedSrcs.length > 0" class="d-flex flex-column flex-lg-row mb-2">
                            <iframe *ngFor="let youtubeEmbedSrc of startedChallenge.challenge.youtubeEmbedSrcs" class="yt-embed" [src]="youtubeEmbedSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <ng-container [ngSwitch]="startedChallenge.challenge.id">
                            <ng-container *ngSwitchCase="1">
                                <ol *ngIf="asApiTokenMessage(startedChallenge) as apiTokenName" class="list-group list-group-numbered">
                                    <li class="list-group-item">Follow <a href="https://account.arena.net/applications" target="_blank">this link</a> and login using the account you wish to verify</li>
                                    <li class="list-group-item">Click on the button New Key</li>
                                    <li class="list-group-item">Fill in the name <app-text-copyable><strong>{{apiTokenName}}</strong></app-text-copyable></li>
                                    <li class="list-group-item">Keep the checkboxes as they are</li>
                                    <li class="list-group-item">Click on the button Create API key (big red button on the bottom)</li>
                                    <li class="list-group-item">In the list of API keys, copy the secret value of the newly created one by clicking the copy button right to the hidden characters</li>
                                </ol>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <ol *ngIf="asTpBuyOrderMessage(startedChallenge) | async; let message" class="list-group list-group-numbered">
                                    <li class="list-group-item">Login to the game using the Guild Wars2 account you wish to verify</li>
                                    <li class="list-group-item">Open the ingame tradingpost</li>
                                    <li class="list-group-item">
                                        <span class="mb-2">Search for the item</span>
                                        <h4 class="text-center">
                                            <img [src]="message.icon" class="img-fluid rounded-3 img-text" [alt]="message.name" />
                                            <strong>{{message.name}}</strong>
                                        </h4>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="mb-2">Place a buy-order for this item with <strong>exactly</strong></span>
                                        <h4 class="text-center">
                                            <span>{{message.gold}}<img src="/assets/gold_coin.png" class="img-fluid img-text" alt="gold" /></span>
                                            <span>{{message.silver}}<img src="/assets/silver_coin.png" class="img-fluid img-text" alt="silver" /></span>
                                            <span>{{message.copper}}<img src="/assets/copper_coin.png" class="img-fluid img-text" alt="copper" /></span>
                                        </h4>
                                    </li>
                                </ol>
                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <ol *ngIf="asCharacterMessage(startedChallenge) as characterName" class="list-group list-group-numbered">
                                    <li class="list-group-item">Login to the game using the Guild Wars2 account you wish to verify</li>
                                    <li class="list-group-item">In the character selection screen, create a new character</li>
                                    <li class="list-group-item">Proceed with any choice you like until the character name screen</li>
                                    <li class="list-group-item">Name the character <app-text-copyable><strong>{{characterName}}</strong></app-text-copyable></li>
                                    <li class="list-group-item">Create and login the character</li>
                                    <li class="list-group-item">You do not have to play the first mission. You can return to the character selection</li>
                                </ol>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary" (click)="onChallengeDoneClick()">I have performed the steps, proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>