<div class="p-5">
    <div class="container mw-md">
        <div class="row row-cols-1 g-5">
            <div class="col">
                <h1>Privacy Policy</h1>
                <p>Last updated: 2023-03-18</p>
            </div>
            <div class="col">
                <h3 class="mb-3">Human version</h3>
                <div class="list-group">
                    <div class="list-group-item">We use cookies and your browser's <a href="https://en.wikipedia.org/wiki/Web_storage" target="_blank">local storage</a> to keep you logged into your account.</div>
                    <div class="list-group-item">We do not know your password and only your email address if you choose to login through "E-Mail & Password".</div>
                    <div class="list-group-item">We keep server log files for 14 days. Those may include personal information but this personal information will neither be shared nor be used by us.</div>
                </div>
            </div>
            <div class="col">
                <h3 class="mb-3">Personal Identifiable Information</h3>
                <p>
                    We may collect personal identification information from users in a variety of ways in connection with activities, services, features or resources we make available on our site.
                    Users may visit our site anonymously.
                    We will collect personal identification information from users only if they voluntarily submit such information to us.
                    Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain site related activities.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Non-personal Identifiable Information</h3>
                <p>
                    We may collect non-personal identification information about users whenever they interact with our site.
                    Non-personal identification information may include the browser name, the type of computer and technical information about users means of connection to our site, such as the operating system and the Internet service providers utilized and other similar information.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Cookies & Local storage</h3>
                <p>
                    Our site may use "cookies" and "local storage" to enhance user experience.
                    User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them.
                    Users may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent.
                    If they do so, note that some parts of the site may not function properly.
                </p>
                <h5>Cookies</h5>
                <div class="table-responsive mb-3">
                    <table class="table table-accent table-striped align-middle">
                        <colgroup>
                            <col class="w-auto" />
                            <col class="w-auto" />
                            <col class="w-auto" />
                            <col class="w-auto" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Expiration</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let cookie of cookieInformations">
                            <tr>
                                <td>{{cookie.name}}</td>
                                <td>{{cookie.type}}</td>
                                <td>{{cookie.expiration}}</td>
                                <td>
                                    <button type="button" class="btn btn-accent-inner" (click)="collapse.toggle()">
                                        <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr class="no-transition" #collapse="ngbCollapse" [ngbCollapse]="true">
                                <td colspan="4">
                                    <div class="p-2">
                                        {{cookie.description}}
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
                <h5>Local storage</h5>
                <div class="table-responsive">
                    <table class="table table-accent table-striped align-middle">
                        <colgroup>
                            <col class="w-auto" />
                            <col class="w-auto" />
                            <col class="w-auto" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let ls of localStorageInformations">
                            <tr>
                                <td>{{ls.name}}</td>
                                <td>{{ls.type}}</td>
                                <td>
                                    <button type="button" class="btn btn-accent-inner" (click)="collapse.toggle()">
                                        <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr class="no-transition" #collapse="ngbCollapse" [ngbCollapse]="true">
                                <td colspan="3">
                                    <div class="p-2">
                                        {{ls.description}}
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h3 class="mb-3">How we use collected information</h3>
                <p>GW2Auth may collect and use personal information for the following purposes:</p>
                <div class="list-group">
                    <div class="list-group-item">
                        <p><strong>To run and operate our site</strong></p>
                        <small>We may need your information to display content on the site correctly.</small>
                    </div>
                    <div class="list-group-item">
                        <p><strong>To improve customer service</strong></p>
                        <small>The information you provide helps us respond to your customer service requests and support needs more efficiently.</small>
                    </div>
                    <div class="list-group-item">
                        <p><strong>To personalize user experience</strong></p>
                        <small>We may use information in the aggregate to understand how our users as a group use the services and resources provided on our site.</small>
                    </div>
                    <div class="list-group-item">
                        <p><strong>To improve our site</strong></p>
                        <small>We may use feedback you provide to improve our products and services.</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="mb-3">How we protect your information</h3>
                <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, and data stored on our site.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">Sharing your personal information</h3>
                <p>We do not sell, trade, or rent personal identification information to others.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">Children's information</h3>
                <p>We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
                <p>GW2Auth does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">Third party websites</h3>
                <p>
                    Users may find advertising or other content on our site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licencors and other third parties.
                    We do not control the content or links that appear on these Sites and are not responsible for the practices employed by websites linked to or from our site.
                    In addition, these Sites or services, including their content and links, may constantly be changing.
                    These sites and services may have their own privacy policies and customer service policies.
                    Browsing and interaction on any other site, including sites which have a link to our site, is subject to that site's own terms and policies.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Login providers</h3>
                <p>
                    We use different login providers to offer our users a variety of options to create and login to their accounts.
                    The privacy policies of our login providers can be viewed at:
                </p>
                <p><strong>GitHub</strong>: <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank">https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement</a></p>
                <p><strong>Google</strong>: <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">https://policies.google.com/privacy?hl=en-US</a></p>
                <p><strong>E-Mail & Password</strong>: This login provider is managed by AWS (Amazon Web Services) solely for us. The privacy policy of AWS can be viewed at <a href="https://aws.amazon.com/privacy" target="_blank">https://aws.amazon.com/privacy</a></p>
            </div>
            <div class="col">
                <h3 class="mb-3">Changes to this privacy policy</h3>
                <p>
                    GW2Auth has the discretion to update this privacy policy at any time.
                    When we do, we will post a notification on the main page of our site.
                    We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.
                    You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Your acceptance of this terms</h3>
                <p>
                    By using this site, you signify your acceptance of this policy.
                    If you do not agree to this policy, please do not use our site.
                    Your continued use of the site following the posting of changes to this policy will be deemed your acceptance of those changes.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Contact</h3>
                <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this Site, please contact us.</p>
                <p><strong>E-Mail</strong>: <a href="mailto:contact@gw2auth.com">contact@gw2auth.com</a></p>
            </div>
        </div>
    </div>
</div>