<div class="py-4">
    <ng-container [ngSwitch]="summary">
        <div *ngSwitchCase="null">
            Loading ...
        </div>
        <ng-container *ngSwitchDefault>
            <ngb-carousel class="my-1 mx-1 mx-sm-3 mx-md-5 carousel slide bg-accent rounded">
                <ng-template ngbSlide>
                    <h1 class="carousel-content-html">{{summary!.accounts}} Accounts</h1>
                    <div class="carousel-caption position-static">
                        <h5><strong>{{summary!.accounts}}</strong> accounts have been registered at GW2Auth.</h5>
                        <p>Click the Login button at the top to register a new account or login to your existing GW2Auth Account.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <h1 class="carousel-content-html">{{summary!.apiTokens}} API Tokens</h1>
                    <div class="carousel-caption position-static">
                        <h5><strong>{{summary!.apiTokens}}</strong> API Tokens have been added to GW2Auth.</h5>
                        <p>API Tokens are used to grant applications access to the Guild Wars 2 API.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <h1 class="carousel-content-html">{{summary!.clientAuthorizations}} Authorizations</h1>
                    <div class="carousel-caption position-static">
                        <h5><strong>{{summary!.clientAuthorizations}}</strong> users have granted applications to use their Guild Wars 2 API Tokens through GW2Auth.</h5>
                        <p>When logging in at an application through GW2Auth we provide them with subtokens they may use at the official Guild Wars 2 API.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <h1 class="carousel-content-html">{{summary!.verifiedGw2Accounts}} verified Guild Wars 2 Accounts</h1>
                    <div class="carousel-caption position-static">
                        <h5><strong>{{summary!.verifiedGw2Accounts}}</strong> Guild Wars 2 Accounts have been verified at GW2Auth.</h5>
                        <p>By verifying a Guild Wars 2 Account at GW2Auth we make sure that nobody but the verified GW2Auth Account is able to add API Tokens for the verified Guild Wars 2 Account.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <h1 class="carousel-content-html">{{summary!.clientRegistrations}} Clients</h1>
                    <div class="carousel-caption position-static">
                        <h5><strong>{{summary!.clientRegistrations}}</strong> clients have been registered at GW2Auth.</h5>
                        <p>Clients allow developers to integrate GW2Auth into their application.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </ng-container>
    </ng-container>
</div>