<div class="bg-accent p-2 rounded-2">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><h5>Account</h5></li>
        <li class="nav-item"><a [routerLink]="['/', 'account']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Overview</a></li>
        <li class="nav-item"><a [routerLink]="['/', 'account', 'token']" routerLinkActive="active" class="nav-link">API Tokens</a></li>
        <li class="nav-item"><a [routerLink]="['/', 'account', 'application']" routerLinkActive="active" class="nav-link">Applications</a></li>
        <li class="nav-item"><a [routerLink]="['/', 'account', 'verification']" routerLinkActive="active" class="nav-link">Account verification</a></li>
        <li class="nav-item"><a [routerLink]="['/', 'account', 'settings']" routerLinkActive="active" class="nav-link">Settings</a></li>
        <li class="nav-item"><h5>Developers</h5></li>
        <li class="nav-item"><a [routerLink]="['/', 'account', 'client']" routerLinkActive="active" class="nav-link">Clients</a></li>
    </ul>
</div>