// region margins
.mt-6 {
  margin-top: 3.5rem!important;
}

.mt-7 {
  margin-top: 4rem!important;
}
// endregion

.collapsing.no-transition {
  transition: none !important;
}

// region imgs
img.img-fluid.img-text {
  height: 1em;
  width: auto;
}
// endregion