<nav class="navbar navbar-expand-md fixed-top navbar-light bg-accent">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/', '/']">GW2Auth</a>

        <button class="navbar-toggler" type="button" (click)="navbarCollapse.toggle()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" #navbarCollapse="ngbCollapse" [ngbCollapse]="true">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/', '/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="navbarCollapse.toggle()">Home</a>
                </li>

                <li *ngIf="isAuthenticated" class="nav-item">
                    <a class="nav-link" [routerLink]="['/', 'account']" routerLinkActive="active" (click)="navbarCollapse.toggle()">Account</a>
                </li>
            </ul>

            <div class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" role="button" [id]="'appearanceDropdown'" ngbDropdownToggle>Appearance</a>
                <ul class="dropdown-menu dropdown-menu-dark" [attr.aria-labelledby]="'appearanceDropdown'" ngbDropdownMenu>
                    <li><a ngbDropdownItem class="dropdown-item" [ngClass]="activeAppearance == SYSTEM ? 'active' : ''" (click)="onAppearanceClick(SYSTEM)">System</a></li>
                    <li><a ngbDropdownItem class="dropdown-item" [ngClass]="activeAppearance == LIGHT ? 'active' : ''" (click)="onAppearanceClick(LIGHT)">Light</a></li>
                    <li><a ngbDropdownItem class="dropdown-item" [ngClass]="activeAppearance == DARK ? 'active' : ''" (click)="onAppearanceClick(DARK)">Dark</a></li>
                </ul>
            </div>

            <div class="form-inline" [ngSwitch]="isAuthenticated">
                <a *ngSwitchCase="false" class="btn btn-primary" role="button" [routerLink]="['/login']">Login</a>
                <a *ngSwitchCase="true" class="btn btn-danger" role="button" (click)="onLogoutClick()">Logout</a>
            </div>
        </div>
    </div>
</nav>
