@import '~bootstrap/scss/variables';
@import 'vars';

$theme-colors: map-merge($theme-colors, ("accent": $accent));
$table-variants: map-merge($table-variants, ("accent": $accent));

$btn-focus-width:             0px;
