@import 'bootstrap/scss/variables';
@import 'vars';

$theme-colors: map-merge($theme-colors, ("accent": $accent));
$table-variants: map-merge($table-variants, ("accent": $accent));

$btn-focus-width:             0px;

// region accordion
$accordion-bg: $accent;
$accordion-color: $accent-color;
$accordion-border-color: $accent-inner;
$accordion-button-color: $accent-color;
$accordion-button-bg: mix($accordion-color, $accordion-bg, percentage($table-striped-bg-factor));
$accordion-button-active-bg: $accordion-button-bg;
$accordion-button-active-color: $accordion-button-color;
$accordion-icon-color: $accordion-color;
$accordion-icon-active-color: $accordion-button-active-color;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
// endregion