@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/functions';

$accent: $gray-300 !default;
$accent-color: $dark !default;
$accent-inner: $secondary !default;

// region list-group
$list-group-active-border-color: $list-group-active-bg !default;
$list-group-disabled-color: $list-group-color !default;
$list-group-hover-bg: $list-group-active-bg !default;
$list-group-action-color: $list-group-color !default;
$list-group-action-hover-color: $list-group-action-color !default;
// endregion