@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'vars';

$accent: $dark;
$accent-color: $gray-100;
$accent-inner: $secondary;

$body-bg: #0c0f15;
$body-color: $gray-100;

// region navbar
$navbar-light-color:                $navbar-dark-color;
$navbar-light-hover-color:          $navbar-dark-hover-color;
$navbar-light-active-color:         $navbar-dark-active-color;
$navbar-light-disabled-color:       $navbar-dark-disabled-color;
$navbar-light-toggler-icon-bg:      $navbar-dark-toggler-icon-bg;
$navbar-light-toggler-border-color: $navbar-dark-toggler-border-color;
$navbar-light-brand-color:          $navbar-dark-brand-color;
$navbar-light-brand-hover-color:    $navbar-dark-brand-hover-color;
// endregion

// region toast
$toast-background-color: $black;
$toast-border-color: $gray-600;
$toast-header-background-color: $toast-background-color;
$toast-header-border-color: $toast-border-color;
$toast-header-color: $body-color;
$btn-close-color: $toast-header-color;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
// endregion

// region modal
$modal-content-bg: $dark;
$modal-header-border-color: $gray-600;
$modal-footer-border-color: $gray-600;
// endregion

// region list-group
$list-group-bg: $gray-800;
$list-group-color: $body-color;
$list-group-active-bg: $success;
$list-group-active-border-color: $list-group-active-bg;
$list-group-disabled-bg: $gray-700;
$list-group-disabled-color: $list-group-color;
$list-group-hover-bg: shade-color($list-group-active-bg, 60%);
$list-group-action-color: $list-group-color;
$list-group-action-hover-color: $list-group-action-color;
$list-group-action-active-bg: $list-group-active-bg;
// endregion

@import 'global_pre';
@import 'bootstrap/scss/bootstrap';
@import 'global_post';

// region inputs
input,textarea {
  background-color: $black !important;
  color: $body-color !important;
}
// endregion
