@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'vars';

$list-group-hover-bg: tint-color($list-group-active-bg, 60%);

// region dropdown
$dropdown-dark-color:               $dropdown-color;
$dropdown-dark-bg:                  $dropdown-bg;
$dropdown-dark-border-color:        $dropdown-border-color;
$dropdown-dark-divider-bg:          $dropdown-divider-bg;
$dropdown-dark-link-color:          $dropdown-link-color;
$dropdown-dark-link-hover-color:    $dropdown-link-hover-color;
$dropdown-dark-link-hover-bg:       $dropdown-link-hover-bg;
$dropdown-dark-link-active-color:   $dropdown-link-active-color;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg;
$dropdown-dark-link-disabled-color: $dropdown-link-disabled-color;
$dropdown-dark-header-color:        $dropdown-header-color;
// endregion

// region carousel
$carousel-control-color:             $accent-inner;

$carousel-indicator-active-bg:       $accent-inner;

$carousel-caption-color:             $accent-inner;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
// endregion

@import 'global_pre';
@import 'bootstrap/scss/bootstrap';
@import 'global_post';