<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-3">
        <ng-container [ngSwitch]="summary">
            <div *ngSwitchCase="null" class="col">
                Loading ...
            </div>
            <ng-container *ngSwitchDefault>
                <div class="col">
                    <app-summary-element [title]="summary!.apiTokens + ' API Tokens'">
                        <p class="mb-1">You have linked <strong>{{summary!.apiTokens}}</strong> API Tokens to your account.</p>
                        <p class="mb-0">API Tokens are used to grant applications access to the Guild Wars 2 API.</p>
                    </app-summary-element>
                </div>
                <div class="col">
                    <app-summary-element [title]="summary!.clientAuthorizations + ' Authorizations'">
                        <p class="mb-1">You authorized <strong>{{summary!.clientAuthorizations}}</strong> applications to use your Guild Wars 2 API Tokens through GW2Auth.</p>
                        <p class="mb-0">When logging in at an application through GW2Auth we provide them with subtokens they may use at the official Guild Wars 2 API.</p>
                    </app-summary-element>
                </div>
                <div class="col">
                    <app-summary-element [title]="summary!.verifiedGw2Accounts + ' verified Guild Wars 2 Accounts'">
                        <p class="mb-1">You verified <strong>{{summary!.verifiedGw2Accounts}}</strong> of your Guild Wars 2 Accounts at GW2Auth.</p>
                        <p class="mb-0">By verifying a Guild Wars 2 Account at GW2Auth we make sure that nobody but the verified GW2Auth Account is able to add API Tokens for the verified Guild Wars 2 Account.</p>
                    </app-summary-element>
                </div>
                <div class="col">
                    <app-summary-element [title]="summary!.accountFederations + ' Login Providers'">
                        <p class="mb-1">You added <strong>{{summary!.accountFederations}}</strong> login providers to your GW2Auth Account.</p>
                        <p class="mb-0">Adding login providers grants you access to your GW2Auth Account through multiple providers.</p>
                    </app-summary-element>
                </div>
                <div class="col">
                    <app-summary-element [title]="summary!.clientRegistrations + ' Clients'">
                        <p class="mb-1">You registered <strong>{{summary!.clientRegistrations}}</strong> clients at GW2Auth.</p>
                        <p class="mb-0">Clients allow developers to integrate GW2Auth into their application.</p>
                    </app-summary-element>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>