<div class="container">
    <div class="row row-cols-1 gy-5">
        <div class="col">
            <ng-container [ngSwitch]="clientConsents.length">
                <h3 *ngSwitchCase="0">You haven't authorized any application yet</h3>
                <ng-container *ngSwitchDefault>
                    <h3 class="mb-3">Your Applications</h3>
                    <div class="table-responsive">
                        <table class="table table-accent table-striped align-middle">
                            <colgroup>
                                <col class="w-100" />
                                <col class="w-auto "/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let clientConsent of clientConsents">
                                <tr>
                                    <td>{{clientConsent.clientRegistration.displayName}}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-accent-inner" (click)="detailsCollapse.toggle()">
                                                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                                            </button>
                                            <button type="button" class="btn btn-danger" (click)="openDeleteClientConsentModal(clientConsent)">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="no-transition" #detailsCollapse="ngbCollapse" [ngbCollapse]="fragment != clientConsent.clientRegistration.clientId">
                                    <td colspan="2">
                                        <div class="container-fluid p-2">
                                            <div class="row row-cols-1 g-3">
                                                <div class="col">
                                                    <label [htmlFor]="'accountSub'" class="form-label">User ID</label>
                                                    <app-input-copyable [inputId]="'accountSub'" [aria-describedby]="'accountSubDescription'" [inputValue]="clientConsent.accountSub"></app-input-copyable>
                                                    <div [id]="'accountSubDescription'" class="form-text">Your unique User ID at this application. If the application admin asks for your User ID, send him this one</div>
                                                </div>
                                                <div class="col">
                                                    <label [htmlFor]="'authorizedGw2ApiPermissions'" class="form-label">Permissions</label>
                                                    <div class="container-fluid" [id]="'authorizedGw2ApiPermissions'">
                                                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2">
                                                            <ng-container *ngFor="let gw2ApiPermission of gw2ApiPermissions">
                                                                <div class="col">
                                                                    <app-gw2-api-permission-badge [gw2ApiPermission]="gw2ApiPermission" [isPresent]="clientConsent.authorizedGw2ApiPermissions.includes(gw2ApiPermission)"></app-gw2-api-permission-badge>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <label [htmlFor]="'authorizedVerifiedInformation'" class="form-label">Read account verification</label>
                                                    <input type="text" class="form-control" [id]="'authorizedVerifiedInformation'" [value]="clientConsent.authorizedVerifiedInformation ? 'Yes' : 'No'" [attr.aria-describedby]="'authorizedVerifiedInformationDescription'" disabled />
                                                    <div [id]="'authorizedVerifiedInformationDescription'" class="form-text">If yes, the application can read your account verification status for the linked API Tokens</div>
                                                </div>
                                                <div class="col">
                                                    <ng-container [ngSwitch]="clientConsent.clientAuthorizationsState">
                                                        <ng-container *ngSwitchCase="1">
                                                            <label [htmlFor]="'authorizations'" class="form-label">Authorizations</label>
                                                            <div class="list-group" [id]="'authorizations'">
                                                                <div *ngFor="let clientAuthorization of clientConsent.clientAuthorizations" role="button" class="list-group-item list-group-item-action" (click)="openClientAuthorizationModal(clientConsent, clientAuthorization)">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <p class="mb-0">{{clientAuthorization.displayName}}</p>
                                                                        <small>{{clientAuthorization.creationTime.toLocaleString()}}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        <app-button-loadable *ngSwitchDefault [class]="['btn', 'btn-primary']" [loading]="clientConsent.clientAuthorizationsState == -1" (click)="onLoadClientAuthorizationsClick(clientConsent)">Load authorizations</app-button-loadable>
                                                    </ng-container>
                                                </div>
                                                <div class="col">
                                                    <label [htmlFor]="'logs'" class="form-label">Logs</label>
                                                    <div class="list-group mb-1" [id]="'logs'">
                                                        <div *ngFor="let log of clientConsent.logs" class="list-group-item">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <p class="mb-0">{{tryGetLogType(log)}}</p>
                                                                <small>{{log.timestamp.toLocaleString()}}</small>
                                                            </div>
                                                            <span>{{log.message}}</span>
                                                        </div>
                                                    </div>
                                                    <app-button-loadable [class]="['btn', 'btn-primary']" [disabled]="clientConsent.nextLogPage == -1" [loading]="clientConsent.nextLogPage == -2" (click)="onLoadNextLogPageClick(clientConsent)">Load more</app-button-loadable>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>