<div class="p-5">
    <div class="container mw-md">
        <div class="row row-cols-1 g-5">
            <div class="col">
                <h1>Legal Notice</h1>
                <p>Last updated: 2022-10-13</p>
            </div>
            <div class="col">
                <strong>
                    NCSOFT, the interlocking NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks are the property of their respective owners.
                </strong>
            </div>
            <div class="col">
                <h3 class="mb-3">Contact</h3>
                <div class="list-group">
                    <div class="list-group-item">Ingame: <strong>Felix.9127</strong></div>
                    <div class="list-group-item">via Discord: using the <a href="https://discord.gg/zqeHCEg" target="_blank">GW2-Development Community Discord</a> Channel <strong>#gw2auth</strong></div>
                    <div class="list-group-item">Send us an E-Mail at <a href="mailto:contact@gw2auth.com">contact@gw2auth.com</a></div>
                </div>
            </div>
            <div class="col">
                <h3 class="mb-3">Liability for content</h3>
                <p>
                    We make every effort to keep the information on our site current, but accept no liability whatsoever for the content provided.
                    ursuant to §7 par. 1 of TMG (German Tele-Media Act), the law limits our responsibility as a service provider to our own content on these web pages.
                    According to §§8 to 10 of TMG, we are not obligated to monitor third party information provided or stored on our website or to investigate circumstances that indicate illegal activity.
                    Obligations to remove or block the use of information under general law remain unaffected.
                    However, liability in this regard is only possible from the moment of knowledge of a specific infringement.
                    Upon notification of appropriate violations, we will remove this content immediately.
                </p>
            </div>
            <div class="col">
                <h3 class="mb-3">Copyright</h3>
                <p>
                    The content and works provided on these webpages are governed by the copyright laws of Germany.
                    Duplication, processing, distribution, or any form of commercialisation of such material beyond the scope of the copyright law shall require the prior written consent of its respective author or creator.
                </p>
            </div>
        </div>
    </div>
</div>