<div class="p-5">
    <div class="container mw-md">
        <div class="row row-cols-1 g-5">
            <div class="col">
                <strong>
                    NCSOFT, the interlocking NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks are the property of their respective owners.
                </strong>
            </div>
            <div class="col">
                <h3 class="mb-3">Contact</h3>
                <div class="list-group">
                    <div class="list-group-item">Ingame: <strong>Felix.9127</strong></div>
                    <div class="list-group-item">via Discord: using the <a href="https://discord.gg/zqeHCEg" target="_blank">GW2-Development Community Discord</a> Channel <strong>#gw2auth</strong></div>
                    <div class="list-group-item">Send us an E-Mail at <a href="mailto:contact@gw2auth.com">contact@gw2auth.com</a></div>
                </div>
            </div>
        </div>
    </div>
</div>