<div class="container">
    <div class="row row-cols-1 gy-3">
        <div class="col">
            <h3>Authorization response</h3>
        </div>
        <ng-container *ngIf="clientRegistration != null && codeOrRefreshToken != null">
            <div class="col">
                <h4>Token request</h4>
                <div class="container-fluid">
                    <div class="row row-cols-1 gy-3">
                        <div class="col">
                            <label [htmlFor]="'grantType'" class="form-label">Grant Type</label>
                            <app-input-copyable [inputId]="'grantType'" [inputValue]="grantType"></app-input-copyable>
                        </div>

                        <div class="col">
                            <label [htmlFor]="'codeOrRefreshToken'" class="form-label">Code / Refresh Token</label>
                            <app-input-copyable [inputId]="'codeOrRefreshToken'" [inputValue]="codeOrRefreshToken"></app-input-copyable>
                        </div>

                        <div class="col">
                            <label [htmlFor]="'clientSecret'" class="form-label">Client Secret</label>
                            <input type="text" class="form-control" [id]="'clientSecret'" [attr.aria-describedby]="'clientSecretDescription'" [(ngModel)]="clientSecret" name="clientSecret" [disabled]="codeRequestInProgress" />
                            <div [id]="'clientSecretDescription'" class="form-text">Paste your Client secret to request an Access-Token and Refresh-Token</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" *ngIf="hasResponse">
                <h4>Token response</h4>
                <div class="container-fluid">
                    <div class="row row-cols-1 gy-3">
                        <div *ngIf="codeRequestResponseText != null" class="col">
                            <label [htmlFor]="'codeRequestResponse'" class="form-label">Response</label>
                            <textarea class="form-control" rows="10" [id]="'codeRequestResponse'">{{codeRequestResponseText}}</textarea>
                        </div>
                        <div *ngIf="codeRequestResponseAccessToken != null" class="col">
                            <label [htmlFor]="'codeRequestResponseAccessToken'" class="form-label">Access-Token</label>
                            <textarea class="form-control" rows="10" [id]="'codeRequestResponseAccessToken'">{{codeRequestResponseAccessToken}}</textarea>
                        </div>
                        <div *ngIf="codeRequestResponseRefreshToken != null" class="col">
                            <label [htmlFor]="'codeRequestResponseRefreshToken'" class="form-label">Refresh Token</label>
                            <app-input-copyable [inputId]="'codeRequestResponseRefreshToken'" [inputValue]="codeRequestResponseRefreshToken"></app-input-copyable>
                        </div>
                        <div *ngIf="codeRequestResponseTokenType != null" class="col">
                            <label [htmlFor]="'codeRequestResponseTokenType'" class="form-label">Token Type</label>
                            <app-input-copyable [inputId]="'codeRequestResponseTokenType'" [inputValue]="codeRequestResponseTokenType"></app-input-copyable>
                        </div>
                        <div *ngIf="codeRequestResponseScope != null" class="col">
                            <label [htmlFor]="'codeRequestResponseScope'" class="form-label">Scope</label>
                            <app-input-copyable [inputId]="'codeRequestResponseScope'" [inputValue]="codeRequestResponseScope"></app-input-copyable>
                        </div>
                        <div *ngIf="codeRequestResponseExpiresIn != null" class="col">
                            <label [htmlFor]="'codeRequestResponseExpiresIn'" class="form-label">Expires in</label>
                            <app-input-copyable [inputId]="'codeRequestResponseExpiresIn'" [inputValue]="codeRequestResponseExpiresIn.toString()"></app-input-copyable>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <app-button-loadable [class]="['btn-primary', 'w-100']" [loading]="codeRequestInProgress" (click)="onRequestTokensClick()">Request Access Token and Refresh Token</app-button-loadable>
            </div>
        </ng-container>
        <ng-container *ngIf="error != null">
            <div class="col">
                <label [htmlFor]="'error'" class="form-label">Error</label>
                <app-input-copyable [inputId]="'error'" [inputValue]="error"></app-input-copyable>
            </div>
            <div *ngIf="errorDescription != null">
                <label [htmlFor]="'errorDescription'" class="form-label">Error description</label>
                <app-input-copyable [inputId]="'errorDescription'" [inputValue]="errorDescription"></app-input-copyable>
            </div>
        </ng-container>
    </div>
</div>