<div class="container">
    <div class="row row-cols-1 gy-3">
        <div class="col">
            <h3>Create Client</h3>
        </div>
        <div class="col" *ngIf="creationTime != null">
            <label [htmlFor]="'creationTime'" class="form-label">Created at</label>
            <input type="text" class="form-control" [id]="'creationTime'" [(ngModel)]="creationTime" name="creationTime" [disabled]="createInProgress" />
        </div>
        <div class="col">
            <label [htmlFor]="'displayName'" class="form-label">Name</label>
            <input type="text" class="form-control" [id]="'displayName'" [attr.aria-describedby]="'displayNameDescription'" [(ngModel)]="displayName" name="displayName" [disabled]="createInProgress" />
            <div [id]="'displayNameDescription'" class="form-text">This will be the name of your application shown to the users</div>
        </div>
        <div class="col" *ngIf="clientId != null">
            <label [htmlFor]="'clientId'" class="form-label">Client ID</label>
            <app-input-copyable [inputId]="'clientId'" [inputValue]="clientId"></app-input-copyable>
        </div>
        <div class="col" *ngIf="clientSecret != null">
            <label [htmlFor]="'clientSecret'" class="form-label">Client Secret</label>
            <app-input-copyable [inputId]="'clientSecret'" [aria-describedby]="'clientSecretDescription'" [inputValue]="clientSecret"></app-input-copyable>
            <div [id]="'clientSecretDescription'" class="form-text">The Client secret is only visible after creation. Make sure to copy it now!</div>
        </div>
        <div class="col">
            <label [htmlFor]="'authorizationGrantTypes'" class="form-label">Authorization Grant Types</label>
            <div [id]="'authorizationGrantTypes'">
                <div class="form-check" *ngFor="let authorizationGrantType of authorizationGrantTypes">
                    <input class="form-check-input" type="checkbox" value="" [id]="'authorizationGrantType-' + authorizationGrantType" disabled checked />
                    <label class="form-check-label" [htmlFor]="'authorizationGrantType-' + authorizationGrantType">{{authorizationGrantTypeDisplayName(authorizationGrantType)}}</label>
                </div>
            </div>
        </div>
        <div class="col">
            <label [htmlFor]="'redirectUri'" class="form-label">Redirect URI</label>
            <input type="text" class="form-control" [id]="'redirectUri'" [attr.aria-describedby]="'redirectUriDescription'" [(ngModel)]="redirectUri" name="redirectUri" [disabled]="createInProgress" />
            <div [id]="'redirectUriDescription'" class="form-text">The URI users will be redirected to after an authentication. You can use <app-text-copyable>https://gw2auth.com/account/client/debug</app-text-copyable> for debugging purposes.</div>
        </div>
        <div class="col" *ngIf="showCreateButton">
            <app-button-loadable [class]="['btn-primary', 'w-100']" [loading]="createInProgress" (click)="onCreateClientClick()">Create Client</app-button-loadable>
        </div>
    </div>
</div>