<div class="container">
    <div class="row row-cols-1 gy-5">
        <div *ngIf="clientRegistrations.length > 0" class="col">
            <h3 class="mb-3">Your Clients</h3>
            <div class="table-responsive">
                <table class="table table-accent table-striped align-middle">
                    <colgroup>
                        <col class="w-100" />
                        <col class="w-auto" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let clientRegistration of clientRegistrations; trackBy:trackByClientRegistration">
                        <tr>
                            <td>{{clientRegistration.displayName}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-accent-inner" (click)="detailsCollapse.toggle()">
                                        <fa-icon [icon]="detailsCollapse.collapsed ? faAngleDoubleDown : faAngleDoubleUp"></fa-icon>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteClientModal(clientRegistration)">
                                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-transition" #detailsCollapse="ngbCollapse" [ngbCollapse]="true">
                            <td colspan="2">
                                <div class="container-fluid p-2">
                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <label [htmlFor]="'creationTime'" class="form-label">Created at</label>
                                            <input type="text" class="form-control" [id]="'creationTime'" [(ngModel)]="clientRegistration.creationTime" name="creationTime" disabled />
                                        </div>
                                        <div class="col">
                                            <label [htmlFor]="'clientId'" class="form-label">Client ID</label>
                                            <app-input-copyable [inputId]="'clientId'" [inputValue]="clientRegistration.clientId"></app-input-copyable>
                                        </div>
                                        <div class="col">
                                            <label [htmlFor]="'clientSecret'" class="form-label">Client secret</label>
                                            <ng-container [ngSwitch]="clientSecretsByClientId.has(clientRegistration.clientId)">
                                                <ng-container *ngSwitchCase="true">
                                                    <app-input-copyable [inputId]="'clientSecret'" [aria-describedby]="'clientSecretDescription'" [inputValue]="getClientSecretSafe(clientRegistration)"></app-input-copyable>
                                                    <div [id]="'clientSecretDescription'" class="form-text">The client secret is only visible after creation. Make sure to copy it now!</div>
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" [id]="'clientSecret'" [attr.aria-describedby]="'clientSecretDescription'" disabled value="***************" />
                                                        <button class="btn btn-accent-inner" (click)="openRegenerateClientSecretModal(clientRegistration)"><fa-icon [icon]="faRedo"></fa-icon></button>
                                                    </div>
                                                    <div [id]="'clientSecretDescription'" class="form-text">The client secret is only visible after creation</div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        <div class="col">
                                            <label [htmlFor]="'authorizationGrantTypes'" class="form-label">Authorization Grant Types</label>
                                            <div [id]="'authorizationGrantTypes'">
                                                <div class="form-check" *ngFor="let authorizationGrantType of clientRegistration.authorizationGrantTypes">
                                                    <input class="form-check-input" type="checkbox" value="" [id]="'authorizationGrantType-' + authorizationGrantType" disabled checked />
                                                    <label class="form-check-label" [htmlFor]="'authorizationGrantType-' + authorizationGrantType">{{authorizationGrantTypeDisplayName(authorizationGrantType)}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label [htmlFor]="'redirectUris'" class="form-label">Redirect URIs</label>
                                            <div class="container-fluid" [id]="'redirectUris'">
                                                <div class="row row-cols-1 g-1">
                                                    <ng-container *ngFor="let redirectUri of clientRegistration.redirectUris">
                                                        <ng-template #copyResponse let-message="message">{{message}}</ng-template>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" [value]="redirectUri" disabled />
                                                            <button class="btn btn-accent-inner" #t="ngbTooltip" [ngbTooltip]="copyResponse" [closeDelay]="1000" triggers="manual" (click)="onCopyClick(t, redirectUri)"><fa-icon [icon]="faCopy"></fa-icon></button>
                                                            <button class="btn btn-danger" [disabled]="clientRegistration.redirectUris.length < 2" (click)="openDeleteRedirectUriModal(clientRegistration, redirectUri)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                                                        </div>
                                                    </ng-container>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" [id]="'redirectUriToAdd'" #redirectUriToAddElement />
                                                        <button class="btn btn-accent-inner" (click)="onAddRedirectUriClick(clientRegistration, redirectUriToAddElement)"><fa-icon [icon]="faPlusSquare"></fa-icon></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="clientRegistrationSummaryByClientId.get(clientRegistration.clientId); let summary" class="col">
                                            <div class="container-fluid">
                                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryAccounts'" class="form-label">Accounts</label>
                                                        <input [id]="'summaryAccounts'" type="number" class="form-control" disabled [valueAsNumber]="summary.accounts">
                                                    </div>
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryGw2Accounts'" class="form-label">Guild Wars 2 Accounts</label>
                                                        <input [id]="'summaryGw2Accounts'" type="number" class="form-control" disabled [valueAsNumber]="summary.gw2Accounts">
                                                    </div>
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryAuthsPast1d'" class="form-label">Logins past 24h</label>
                                                        <input [id]="'summaryAuthsPast1d'" type="number" class="form-control" disabled [valueAsNumber]="summary.authPast1d">
                                                    </div>
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryAuthsPast3d'" class="form-label">Logins past 3d</label>
                                                        <input [id]="'summaryAuthsPast3d'" type="number" class="form-control" disabled [valueAsNumber]="summary.authPast3d">
                                                    </div>
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryAuthsPast7d'" class="form-label">Logins past 7d</label>
                                                        <input [id]="'summaryAuthsPast7d'" type="number" class="form-control" disabled [valueAsNumber]="summary.authPast7d">
                                                    </div>
                                                    <div class="col">
                                                        <label [htmlFor]="'summaryAuthsPast30d'" class="form-label">Logins past 30d</label>
                                                        <input [id]="'summaryAuthsPast30d'" type="number" class="form-control" disabled [valueAsNumber]="summary.authPast30d">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col" *ngIf="!clientRegistrationSummaryByClientId.get(clientRegistration.clientId)">
                                            <app-button-loadable [class]="['btn', 'btn-primary']" [loading]="clientRegistrationSummaryLoadingByClientId.get(clientRegistration.clientId) || false" (click)="onLoadSummaryClick(clientRegistration)">Load summary</app-button-loadable>
                                        </div>
                                        <div class="col">
                                            <label [htmlFor]="'logs'" class="form-label">Logs</label>
                                            <div class="list-group mb-1" [id]="'logs'">
                                                <div *ngFor="let log of accountLogsByClientId.get(clientRegistration.clientId) || []" class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between mb-2">
                                                        <p class="mb-0">{{log.message}}</p>
                                                        <small>{{log.timestamp.toLocaleString()}}</small>
                                                    </div>
                                                    <div *ngFor="let item of log.fields | keyvalue" class="ms-2">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-4"><small>{{item.key}}</small></div>
                                                                <div class="col-8"><small><app-text-copyable>{{item.value}}</app-text-copyable></small></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <app-button-loadable [class]="['btn', 'btn-primary']" [disabled]="nextLogPageByClientId.get(clientRegistration.clientId) == -1" [loading]="nextLogPageByClientId.get(clientRegistration.clientId) == -2" (click)="onLoadNextLogPageClick(clientRegistration)">Load more</app-button-loadable>
                                        </div>
                                        <div *ngIf="hasTestRedirectUri(clientRegistration)" class="col">
                                            <a role="button" class="btn btn-primary" [routerLink]="['', 'account', 'client', clientRegistration.clientId, 'debug']">Debug</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <h3 class="mb-3">New Client</h3>
            <p>Clients are used by developers to integrate GW2Auth into their application</p>
            <a class="btn btn-primary" role="button" [routerLink]="['/', 'account', 'client', 'create']">Register a new client</a>
        </div>
    </div>
</div>
