<div class="container">
    <div class="row row-cols-1 gy-3">
        <ng-container [ngSwitch]="clientRegistration">
            <div *ngSwitchCase="null" class="col">
                Loading client registration ...
            </div>
            <ng-container *ngSwitchDefault>
                <div class="col">
                    <h3>Debug Authorization</h3>
                </div>
                <div class="col">
                    <label [htmlFor]="'selectedGw2ApiPermissions'" class="form-label">Request permissions</label>

                    <div class="list-group" [id]="'selectedGw2ApiPermissions'">
                        <button *ngFor="let gw2ApiPermission of gw2ApiPermissions"
                                type="button"
                                class="list-group-item list-group-item-action"
                                [ngClass]="selectedGw2ApiPermissions.has(gw2ApiPermission) ? 'active' : ''"
                                (click)="onGw2ApiPermissionClick(gw2ApiPermission)">

                            <fa-icon *ngIf="selectedGw2ApiPermissions.has(gw2ApiPermission)" [icon]="faCheck"></fa-icon> {{gw2ApiPermissionDisplayName(gw2ApiPermission)}}
                        </button>
                    </div>
                </div>
                <div class="col">
                    <input class="form-check-input" type="checkbox" value="" [id]="'forceConsent'" [name]="'forceConsent'" [(ngModel)]="forceConsent">
                    <label class="form-check-label" [htmlFor]="'forceConsent'">Force consent</label>
                </div>
                <div class="col">
                    <a role="button" class="btn btn-primary w-100" [href]="getTestAuthorizeUri(clientRegistration!)">Debug</a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>