<div class="p-5">
    <div class="container mw-md">
        <div class="row row-cols-1 g-5">
            <div class="col">
                <h3 class="mb-3">Can I use GW2Auth without creating an account?</h3>
                <p>No. As of now, it is not possible to use GW2Auth without creating an account.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">Can I use GW2Auth for applications without GW2Auth integration?</h3>
                <p>No, at least not in a user-friendly way.</p>
                <p>If the application you want to use GW2Auth with didn't integrate it yet, feel free to contact the administrator of the application you want to use.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">I'm a developer and want to integrate GW2Auth into my application. How can I do it?</h3>
                <p>Good news: You can create a client whenever you like to. GW2Auth uses <a href="https://oauth.net/2/" target="_blank">OAuth2.0</a> to authorize clients.</p>
                <p>If you need help to integrate GW2Auth into your application, feel free to contact me (see: <a routerLink="/legal" target="_blank">Legal</a> for ways to contact me)</p>
            </div>
            <div class="col">
                <h3 class="mb-3">What are the benefits of using GW2Auth as a user?</h3>
                <p>
                    Without using GW2Auth, you most likely give external applications API Tokens which you create on the official website of GW2.
                    These API Tokens will never expire, they will work until you remove them on the same website again.
                </p>
                <p>
                    In general, it is a best-practice to create one API Token on the official website per application you want to use.
                    However, in practice I've heard of many (including myself) people using one API Token with full permissions and giving this API Token to every application they want to use.
                </p>
                <p>
                    GW2Auth solves this problem by exclusively passing subtokens to authorized applications. These subtokens are created by GW2Auth in the background and are only valid for 30 minutes after creation.
                    Once a subtoken expires, an application has to request new ones at GW2Auth. Everytime an application requests these new subtokens, GW2Auth checks if you removed the applications access in the meantime.
                    If you removed the applications access in the meantime, GW2Auth will not create new subtokens for this application and the application will not be able to access the Guild Wars 2 API on your behalf anymore.
                </p>
                <p>While being logged in at GW2Auth, you can check at which times an application tried to retrieve new subtokens and you can remove an applications access at any time, by removing the application in your account panel.</p>
            </div>
            <div class="col">
                <h3 class="mb-3">What are the benefits of using GW2Auth as a developer?</h3>
                <p>You don't have to worry about managing API Tokens of users yourself. You can also store additional data to a user on your side, using the user-identifier which is present in every OAuth2 Access Token.</p>
                <p>
                    If your application requires some kind of Guild Wars 2 Account verification: Good news!
                    By requesting the scope <em>gw2auth:verified</em>, each Access-Token will contain an additional field named <em>verified</em> for each authorized token.
                </p>
            </div>
        </div>
    </div>
</div>