<div class="container">
    <div class="row gy-5">
        <div class="col-12">
            <ng-container [ngSwitch]="tokensState">
                <h3 *ngSwitchCase="0" class="mb-3">You haven't added any API Tokens yet</h3>
                <h3 *ngSwitchCase="-1" class="mb-3">Loading ...</h3>
                <ng-container *ngSwitchDefault>
                    <h3 class="mb-3">Your API Tokens</h3>
                    <div class="table-responsive">
                        <table class="table table-accent table-striped align-middle">
                            <colgroup>
                                <col class="w-100" />
                                <col class="w-auto" />
                                <col class="w-auto" />
                                <col class="w-auto "/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Valid</th>
                                <th scope="col">Verified</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let token of tokens">
                                <tr>
                                    <td>{{token.displayName}}</td>
                                    <td>
                                        <span class="badge rounded-pill p-2" [ngClass]="token.isValid ? 'bg-success' : 'bg-danger'" ngbTooltip="GW2Auth periodically checks whether your API Token still works or not">
                                            <fa-icon [icon]="token.isValid ? faCheck : faBan"></fa-icon>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill p-2" [ngClass]="token.isVerified ? 'bg-success' : 'bg-danger'" ngbTooltip="Go to 'Account verification' to learn more">
                                            <fa-icon [icon]="token.isVerified ? faCheck : faBan"></fa-icon>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-accent-inner" (click)="detailsCollapse.toggle()">
                                                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                                            </button>
                                            <button type="button" class="btn btn-accent-inner" (click)="openEditTokenModal(token)">
                                                <fa-icon [icon]="faEdit"></fa-icon>
                                            </button>
                                            <button type="button" class="btn btn-danger" (click)="openDeleteTokenModal(token)">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="no-transition" #detailsCollapse="ngbCollapse" [ngbCollapse]="fragment != token.gw2AccountId">
                                    <td colspan="4">
                                        <div class="container-fluid p-2">
                                            <div class="row row-cols-1 g-3">
                                                <div class="col">
                                                    <label [htmlFor]="'gw2ApiPermissions'" class="form-label">Permissions</label>
                                                    <div class="container-fluid" [id]="'gw2ApiPermissions'">
                                                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2">
                                                            <ng-container *ngFor="let gw2ApiPermission of gw2ApiPermissions">
                                                                <div class="col">
                                                                    <app-gw2-api-permission-badge [gw2ApiPermission]="gw2ApiPermission" [isPresent]="token.gw2ApiPermissions.includes(gw2ApiPermission)"></app-gw2-api-permission-badge>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="token.authorizations.length > 0" class="col">
                                                    <label [htmlFor]="'applications'" class="form-label">Applications</label>
                                                    <div class="list-group" [id]="'applications'" [attr.aria-describedby]="'applicationsDescription'">
                                                        <a *ngFor="let authorization of token.authorizations" [routerLink]="['', 'account', 'application']" [fragment]="authorization.clientId" class="list-group-item list-group-item-action">
                                                            {{authorization.displayName}}
                                                        </a>
                                                    </div>
                                                    <div [id]="'applicationsDescription'" class="form-text">Applications you authorized to use this API Token</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div class="col-12">
            <h3 class="mb-3">Add a new API Token</h3>
            <form>
                <div class="mb-3">
                    <label [htmlFor]="'api-token'" class="form-label">API Token</label>
                    <input type="text" class="form-control" [id]="'api-token'" [attr.aria-describedby]="'api-token-help'" [(ngModel)]="addTokenValue" name="token" [disabled]="addTokenLoading" />
                    <div [id]="'api-token-help'" class="form-text">
                        <p class="mb-1">You can create a new API Token for your Guild Wars 2 Account <a href="https://account.arena.net/applications" target="_blank">using the official website</a>.</p>
                        <p class="mb-0">Only one API Token per Guild Wars 2 Account can be added. If you want to update the API Token for one Guild Wars 2 Account you already have linked another API Token for, update it in the table above .</p>
                    </div>
                </div>
                <app-button-loadable [class]="'btn-primary'" [disabled]="addTokenValue.length < 1" [loading]="addTokenLoading" (click)="onAddTokenClick()" [faIcon]="faSave">Save</app-button-loadable>
            </form>
        </div>
    </div>
</div>
