<footer class="footer mt-auto pt-3 pb-1 bg-accent text-muted text-center text-small">
    <span>© 2022 Felix.9127</span>
    <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/faq">FAQ</a></li>
        <li class="list-inline-item"><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li class="list-inline-item"><a routerLink="/legal">Legal</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://github.com/gw2auth/oauth2-server/wiki">Developer Wiki</a></li>
    </ul>
</footer>