<div class="container">
    <div class="row row-cols-1 gy-5">
        <ng-container [ngSwitch]="federations">
            <div *ngSwitchCase="null" class="col">
                Loading ...
            </div>
            <div *ngSwitchDefault class="col">
                <h3 class="mb-3">Your Login Providers</h3>
                <div class="table-responsive">
                    <table class="table table-accent table-striped align-middle">
                        <colgroup>
                            <col class="w-50" />
                            <col class="w-50" />
                            <col class="w-auto "/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Provider</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let federation of federations!.federations">
                            <tr>
                                <td>
                                    <ng-container [ngSwitch]="federation.issuer">
                                        <app-logo *ngSwitchCase="'cognito'"></app-logo>
                                        <fa-icon *ngSwitchDefault [icon]="getIssuerIcon(federation.issuer)"></fa-icon>
                                    </ng-container>
                                    <span [textContent]="' ' + getIssuerName(federation.issuer)"></span>
                                </td>
                                <td>
                                    <div class="position-relative">
                                        {{federation.idAtIssuer}}
                                        <span *ngIf="isCurrentFederation(federation)" class="position-absolute end-0 me-2 badge rounded-pill bg-success">Current login</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-accent-inner" [disabled]="federation.sessions.length < 1" (click)="detailsCollapse.toggle()">
                                            <fa-icon [icon]="detailsCollapse.collapsed ? faAngleDoubleDown : faAngleDoubleUp"></fa-icon>
                                        </button>
                                        <button type="button" class="btn btn-danger" [disabled]="federations!.federations.length < 2 || isCurrentFederation(federation)" (click)="openDeleteFederationModal(federation)">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="no-transition" #detailsCollapse="ngbCollapse" [ngbCollapse]="true">
                                <td colspan="3">
                                    <h5>Sessions</h5>
                                    <div class="list-group">
                                        <div *ngFor="let session of federation.sessions" class="list-group-item">
                                            <div class="container-fluid">
                                                <div class="row align-items-center">
                                                    <div class="col-6">
                                                        <span *ngIf="isCurrentSession(session)" class="me-2 badge rounded-pill bg-success">Current login</span>
                                                        <span>{{session.id.substring(0, 10)}}</span>
                                                    </div>
                                                    <div class="col-4">
                                                        <span>{{session.creationTime.toLocaleString()}}</span>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="button" class="btn btn-danger float-end" [disabled]="isCurrentSession(session)" (click)="openDeleteSessionModal(session)">
                                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

        <div class="col">
            <h3 class="mb-1">Add another login provider</h3>
            <div class="mb-3">
                <small>
                    You can add multiple accounts of the same provider to your GW2Auth Account.
                    It is not possible to link one provider account to multiple GW2Auth Accounts.
                    If you want to do that, please delete the GW2Auth Account the wanted provider account is currently linked to first.
                </small>
            </div>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col">
                        <a href="/api/account/federation/github" role="button" class="btn btn-dark w-100"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a>
                    </div>
                    <div class="col">
                        <a href="/api/account/federation/google" role="button" class="btn btn-secondary w-100"><fa-icon [icon]="faGoogle"></fa-icon> Google</a>
                    </div>
                    <div class="col">
                        <a href="/api/account/federation/cognito" role="button" class="btn btn-primary w-100"><app-logo></app-logo> E-Mail &amp; Password</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="mb-3">Delete account</h3>
            <button type="button" class="btn btn-danger" [attr.aria-describedby]="'delete_account_description'" (click)="openDeleteAccountModal()">
                <fa-icon [icon]="faTrashAlt"></fa-icon> Delete your account
            </button>
            <div [id]="'delete_account_description'" class="form-text">By deleting your account, we delete everything that is linked to it. This operation can't be reverted.</div>
        </div>
    </div>
</div>