name: 'Build'

on:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
  pull_request:
    branches:
      - main

env:
  WORKSPACE_ARTIFACT: 'oauth2_server'

jobs:
  build_jar:
    name: 'Build JAR'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Set up JDK 21'
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: 'Build'
        run: ./mvnw clean package
      - name: 'Upload artifact'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.WORKSPACE_ARTIFACT }}
          path: |
            Dockerfile
            docker-entrypoint.sh
            target/oauth2-server.jar
            target/version.txt
  build_docker:
    name: 'Build Docker'
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs:
      - build_jar
    steps:
      - name: 'Download artifact'
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.WORKSPACE_ARTIFACT }}
          path: .
      - name: 'Setup QEMU'
        uses: docker/setup-qemu-action@v3
      - name: 'Setup Docker Buildx'
        uses: docker/setup-buildx-action@v3
      - name: 'Login to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
      - name: 'Docker metadata'
        id: docker_metadata_step_id
        uses: docker/metadata-action@v5
        with:
          images: |
            gw2auth/oauth2-server
          tags: |
            type=schedule
            type=ref,event=branch
            type=sha
            latest
      - name: 'Build and push'
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: ${{ steps.docker_metadata_step_id.outputs.tags }}
          labels: ${{ steps.docker_metadata_step_id.outputs.labels }}